/* リセットCSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.padded-container {
    padding: 20px;
    /* すべての方向に20pxのパディングを適用 */
}

.light-blue-background {
    background-color: #f0f7fc;
}

.blue-background {
    background-color: #dcedfc;
}

.custom-margin {
    margin-right: 15px;
}